footer.footer.dark-bg
        .row.padd-0.mrg-0
          .footer-text
            .col-md-6.col-sm-6.theme-bg
              .footer-widget
                .textwidget
                h3.widgettitle.widget-title Get in touch
                p no 1 park jumbo
                p
                  strong Email : 
                  | support@listingub.com
                p
                  strong Call : 
                  | 07017463838
            .col-md-6.col-sm-6
              .footer-widget
                h3.widgettitle.widget-title Connect With Us
                img.img-responsive(src="/assets/img/footer-logo.png" alt="Footer Logo")
                ul.footer-social
                  li
                    a(href="https://linkedin.com/obielum-godson")
                      i.fa.fa-linkedin.theme-cl
                  li
                    a(href="https://twitter.com/devgson")
                      i.fa.fa-twitter.theme-cl
        .footer-copyright
          p Copyright 2018 @ Listing Hub