.navigation.well-sm#pagination
  if page
    ul.pager
      if paginate.hasPreviousPages
        li
          a(href=paginate.href(true)).prev
            | ←
      if pages
        each pagee in pages
          li(style="margin : 0.4em;")
            a(href=pagee.url style=(pagee.number === page ? "background-color : #ff431e" : '') )= pagee.number
      if paginate.hasNextPages(pageCount)
        li
          a(href=paginate.href()).next
            | →