extends layout

block content
  section.title-transparent.page-title(style="background:url(assets/img/title-bg.jpg);")
    .container
      .title-content
        h1 Add Listing
        .breadcrumbs
          a(href="#") Home
          span.gt3_breadcrumb_divider
          span.current Add Listing
  .clearfix

  section
    .container
      .col-md-10.col-sm-12.col-md-offset-1.mob-padd-0
        .add-listing-box.general-info.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-files.theme-cl
            h3 General Information
            p Write Some general information about your listing
          form(action="")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Listing Title
                input.form-control(type="text")
              .col-sm-6
                label Keyword
                input.form-control(type="text")
              .col-sm-6
                label Category
                select.form-control(data-placeholder="Choose Category" tabindex="2")
                  option Sports 
              .col-sm-6
                label Website
                input.form-control(type="text")
              .col-sm-6
                label Description
                textarea.h-100.form-control
            
        .add-listing-box.add-location.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-location-pin.theme-cl
            h3 Add Location
            p Write Address information about your listing location
          form(action="")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Country
                input.form-control(type="text")
              .col-sm-6
                label Address
                input.form-control(type="text")
              .col-sm-6
                label City
                select.form-control(data-placeholder="Choose City" tabindex="2")
                  option Lekki
                  option Maitanma?
              .col-sm-6
                label State
                select.form-control(data-placeholder="Choose State" tabindex="2")
                  option Lagos
                  option Abuja
              .col-sm-6
                label Zip-code
                input.form-control(type="text")
        
        .add-listing-box.full-detail.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-gallery.theme-cl
            h3 Add Gallery
            p Write full detail information about listing owner
          form.dropzone.dz-clickable.primary-dropzone(action="http://themezhub.com/upload-target")
            .dz-default.dz-message
              i.ti-gallery
              span Drag and drop to change logo

        .add-listing-box.amenities.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-gift.theme-cl
            h3 Amenities
            p Write Address information about your listing location
          form(action="")
            .row.mrg-r-10.mrg-l-10
              .col-sm-4
                span.custom-checkbox.d-block
                  input#select1(type="checkbox")
                  label(for="select")
                  | Alarm
                span.custom-checkbox.d-block
                  input#select1(type="checkbox")
                  label(for="select")
                  | Deppaneur
                span.custom-checkbox.d-block
                  input#select1(type="checkbox")
                  label(for="select")
                  | Gabazzin

        .add-listing-box.opening-day.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-time.theme-cl
            h3 Opening Hours
            p Write Address information about your listing location
          form(action="/" method="post")
            .row.mrg-r-10.mrf-l-10
              .col-sm-12.mob-padd-0
                .form-group
                  label.control-label.col-md-2 Monday
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Opening Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed
                  
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Closing Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed

                .form-group
                  label.control-label.col-md-2 Tuesday
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Opening Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed
                  
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Closing Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed 
                
                .form-group
                  label.control-label.col-md-2 Monday
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Opening Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed
                  
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Closing Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed 
                form-group
                  label.control-label.col-md-2 Monday
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Opening Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed
                  
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Closing Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed
                form-group
                  label.control-label.col-md-2 Monday
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Opening Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed
                  
                  .col-md-5
                    select.form-control(data-placeholder="Choose Time" tabindex="2")
                      option Closing Time
                      option 1 :00 AM  
                      option 1 :00 AM  
                      option 2 :00 AM  
                      option 3 :00 AM  
                      option 4 :00 AM  
                      option 5 :00 AM  
                      option 6 :00 AM  
                      option 7 :00 AM  
                      option 8 :00 AM  
                      option 9 :00 AM  
                      option 10 :00 AM  
                      option 11 :00 AM  
                      option 12 :00 AM  
                      option 1 :00 PM  
                      option 2 :00 PM  
                      option 3 :00 PM  
                      option 4 :00 PM  
                      option 5 :00 PM  
                      option 6 :00 PM  
                      option 7 :00 PM  
                      option 8 :00 PM  
                      option 9 :00 PM  
                      option 10 :00 PM  
                      option 11 :00 PM  
                      option 12 :00 PM 
                      option Closed

                .text-center
                  a.btn.theme-btn(href="#" title="Submit Listing") Submit Listing