extends layout

block content
  section.title-transparent.page-title(style="background-color:red;")
    .container
      .title-content
        h1 User Profile
  .clearfix

  section.padd-0
    .container
      .col-md-10.translateY-60.col-sm-12.col-md-12.col-md-offset-1
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            .avater-box
              img.img-responsive.img-circle.edit-avater(src="assets/img/avatar.jpg" alt="")
              .upload-btn-wrapper
                button.btn.theme-btn Change Avatar
                input(type="file" name="myFile")
            h3 Godson Obielum
          form(action="")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Name
                input.form-control(type="text", value="Obielum Godson" disabled)
              .col-sm-6
                label Email
                input.form-control(type="text", value="gabs@gabsmail.com" disabled)
              .col-sm-6
                label Phone
                input.form-control(type="text", value="08046739573")

        .add-listing-box.add-location.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-location-pin.theme-cl
            h3 Edit Location
            p Write Address information about your listing location
          form(action="")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Country
                input.form-control(type="text")
              .col-sm-6
                label State
                input.form-control(type="text")
        
        .add-listing-box.full-detail.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-write.theme-cl
            h3 Full Details
            p Write Address information about your listing location
          form(action="")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label 
                  i.fa.fa-facebook.mrg-r-5(aria-hidden="true")
                  | facebook Link  
                input.form-control(type="text" value="https://facebook.com/devgson")
              .col-sm-6
                label 
                  i.fa.fa-twitter.mrg-r-5(aria-hidden="true")
                  | Twitter Link  
                input.form-control(type="text" value="https://twitter.com/devgson")
        
        .add-listing-box.opening-day.mrg-bot-25.padd-bot-30.padd-top-25
          .listing-box-header
            i.ti-lock.theme-cl
            h3 Change Details
            p Remember, Your Password should not be easy and common
          form(action="")
            .row.mrg-r-10.mrg-l-10
              .col-sm-6
                label Old Password
                input.form-control(type="password", value="dff")
              .col-sm-6
                label New Password
                input.form-control(type="password", value="dff")