extends layout

block content
  include partials/navbar.pug
  .banner.light-opacity(style='background-image:url(assets/img/slider-2.jpg);')
    .container
      .banner-caption
        .col-md-12.col-sm-12.banner-text
          h1 Cooking with fine Wine
          p
            | Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam
          form.form-verticle(method='POST' action='/search')
            .col-md-4.col-sm-4.no-padd
              i.banner-icon.icon-pencil
              input.form-control.left-radius.right-br(type='text' placeholder='Keywords..' name='keyword')
            .col-md-3.col-sm-3.no-padd
              i.banner-icon.icon-map-pin
              input.form-control.right-br(type='text' placeholder='Location..' name='location')
            .col-md-3.col-sm-3.no-padd
              i.banner-icon.icon-layers
              select.form-control(name='category')
                option(value='ketchup mustard') Choose Category
                option(value='mustard') Burger, Shake and a Smile
                option(value='frosting') Sugar, Spice and all things nice
            .col-md-2.col-sm-2.no-padd
              button.btn.theme-btn.btn-default(type='submit') Search
  .clearfix
  // Main Banner Section End
  // Popular Listing Section
  section
    .container
      .row
        .col-md-10.col-md-offset-1
          .heading
            h2
              | Top &amp; Popular 
              span Listings
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      .row
        .col-md-4.col-sm-6
          .listing-shot.grid-style
            a(href='listing-detail.html')
              .listing-shot-img
                img.img-responsive(src='assets/img/category/art.jpg' alt='')
                span.like-listing
                  i.fa.fa-heart-o(aria-hidden='true')
              .listing-shot-caption
                h4 Art &amp; Design
                p.listing-location Bishop Avenue, New York
            .listing-shot-info
              .row.extra
                .col-md-12
                  .listing-detail-info
                    span
                      i.fa.fa-phone(aria-hidden='true')
                      |  807-502-5867
                    span
                      i.fa.fa-globe(aria-hidden='true')
                      |  www.mysitelink.com
            .listing-shot-info.rating
              .row.extra
                .col-md-7.col-sm-7.col-xs-6
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star-half-o(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                .col-md-5.col-sm-5.col-xs-6.pull-right
                  a.detail-link(href='#') Open Now
        .col-md-4.col-sm-6
          .listing-shot.grid-style
            a(href='listing-detail.html')
              .listing-shot-img
                img.img-responsive(src='assets/img/category/education.jpg' alt='')
                span.like-listing
                  i.fa.fa-heart-o(aria-hidden='true')
              .listing-shot-caption
                h4 Education
                p.listing-location Bishop Avenue, New York
            .listing-shot-info
              .row.extra
                .col-md-12
                  .listing-detail-info
                    span
                      i.fa.fa-phone(aria-hidden='true')
                      |  807-502-5867
                    span
                      i.fa.fa-globe(aria-hidden='true')
                      |  www.mysitelink.com
            .listing-shot-info.rating
              .row.extra
                .col-md-7.col-sm-7.col-xs-6
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star-half-o(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                .col-md-5.col-sm-5.col-xs-6.pull-right
                  a.detail-link(href='#') Open Now
        .col-md-4.col-sm-6
          .listing-shot.grid-style
            a(href='listing-detail.html')
              .listing-shot-img
                img.img-responsive(src='assets/img/category/documentry.jpg' alt='')
                span.like-listing
                  i.fa.fa-heart-o(aria-hidden='true')
              .listing-shot-caption
                h4 Documentary
                p.listing-location Bishop Avenue, New York
            .listing-shot-info
              .row.extra
                .col-md-12
                  .listing-detail-info
                    span
                      i.fa.fa-phone(aria-hidden='true')
                      |  807-502-5867
                    span
                      i.fa.fa-globe(aria-hidden='true')
                      |  www.mysitelink.com
            .listing-shot-info.rating
              .row.extra
                .col-md-7.col-sm-7.col-xs-6
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star(aria-hidden='true')
                  i.color.fa.fa-star-half-o(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                .col-md-5.col-sm-5.col-xs-6.pull-right
                  a.detail-link(href='#') Open Now
  // End Popular Listing Section
  // Counter Section
  // End Counter Section
  // Popular Categories Section
  section
    .container
      .row
        .col-md-10.col-md-offset-1
          .heading
            h2
              | Most Popular 
              span Categories
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      .row
        .col-md-4.col-sm-6
          .category-box-full.style-1
            a.category-boxs(href='search-listing.html' data-background-image='assets/img/category/art.jpg' tabindex='0')
              .category-box-content
                h3 Art &amp; Design
                span 70 listings
              span.category-box-btn Browse
              .category-box-bg(style='background-image: url(assets/img/category/art.jpg);')
        .col-md-4.col-sm-6
          .category-box-full.style-1
            a.category-boxs(href='search-listing.html' data-background-image='assets/img/category/education.jpg' tabindex='0')
              .category-box-content
                h3 Education
                span 40 listings
              span.category-box-btn Browse
              .category-box-bg(style='background-image: url(assets/img/category/education.jpg);')
        .col-md-4.col-sm-6
          .category-box-full.style-1
            a.category-boxs(href='search-listing.html' data-background-image='assets/img/category/documentry.jpg' tabindex='0')
              .category-box-content
                h3 Documentary
                span 110 listings
              span.category-box-btn Browse
              .category-box-bg(style='background-image: url(assets/img/category/documentry-2.jpg);')
  include partials/footer.pug