doctype html
html(class="no-js" lang="zxx")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="robots" content="index,follow")

    title Listing Hub - Listing & Directory Template | ThemezHub

    <!-- Bootstrap Core CSS -->
    link(rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css")

    <!-- Icons -->
    link(href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet")
    link(href="assets/plugins/themify-icons/css/themify-icons.css" rel="stylesheet")
	
    <!-- Bootsnav -->
    link(href="assets/plugins/bootstrap/css/bootsnav.css" rel="stylesheet")
    
    <!-- Custom style -->
    link(href="assets/css/style.css" rel="stylesheet")
    link(href="assets/css/responsiveness.css" rel="stylesheet")
    link(type="text/css" rel="stylesheet" id="jssDefault" href="assets/css/colors/main.css")

  body.home-2
    .wrapper  
      nav.navbar.navbar-default.navbar-fixed.navbar-transparent.white.bootsnav
        .container-fluid          
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu")
            i.ti-align-left
          .navbar-header
            a.navbar-brand(href="index.html")
              img(src="assets/img/logo-white.png" class="logo logo-display" alt="")
              img(src="assets/img/logo.png" class="logo logo-scrolled" alt="")
					
          .collapse.navbar-collapse(id="navbar-menu")
            ul.nav.navbar-nav.navbar-center(data-in="fadeInDown" data-out="fadeOutUp")
              li
                a(href="index-2.html" class="dropdown-toggle" data-toggle="dropdown") Home
              li.dropdown
                a(href="login.html" class="dropdown-toggle" data-toggle="dropdown") Explore
                ul.dropdown-menu.animated.fadeOutUp
                  li
                    a(href="add-listing.html") Add Listing
									
                  li
                    a(href="listing-detail.html") Listing Detail
									
                  li
                    a(href="full-width-grid.html" class="dropdown-toggle" data-toggle="dropdown") View Listing
									
                  li
                    a(href="category-1.html" class="dropdown-toggle" data-toggle="dropdown") Category

              li
                a(href="javascript:void(0)"  data-toggle="modal" data-target="#signup") Sign In

            ul.nav.navbar-nav.navbar-right(data-in="fadeInDown" data-out="fadeOutUp")
              li.no-pd.dropdown
                a(href="add-listing.html" class="addlist")
                  img(src="assets/img/avatar.jpg" class="img-responsive img-circle avater-img" alt="")
                  strong Daniel Luke
                ul.dropdown-menu.animated.navbar-left.fadeOutUp
                  li
                    a(href="add-listing.html") Add Listing
									
                  li
                    a(href="manage-listing.html") Manage Listing
									
                  li
                    a(href="edit-profile.html") Profile Settings
									
                  li
                    a(href="profile-detail.html") Profile Detail
									
                  li
                    a(href="invoice.html") Check Invoice
									
                  li
                    a(href="create-pricing.html") Create Pricing
									
                  li
                    a(href="login.html") Log Out
      .clearfix
      block content
      
      footer.footer.dark-bg
        .row.padd-0.mrg-0
          .footer-text
            .col-md-6.col-sm-6.theme-bg
              .footer-widget
                .textwidget
                h3.widgettitle.widget-title Get in touch
                p 774 North Park Place
                p
                  strong Email :
                  | support@listingub.
                p
                  strong Call :
                  | 07017463838
            .col-md-6.col-sm-6
              .footer-widget
                h3.widgettitle.widget-title Connect Us
                img.img-responsive(src="assets/img/footer-logo.png" alt="Footer Logo")
                ul.footer-social
                  li
                    a(href="#")
                      i.fa.fa-facebook.theme-cl
                  li
                    a(href="#")
                      i.fa.fa-twitter.theme-cl
        .footer-copyright
          p Copyright 2017@ Listing Hub

      block scripts
        script(src="assets/js/jquery.min.js")
        script(src="assets/plugins/bootstrap/js/bootstrap.min.js")
        script(src="assets/plugins/bootstrap/js/bootsnav.js")
        //script(src="assets/js/custom.js")