doctype html
html(class="no-js" lang="zxx")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="robots" content="index,follow")

    title Listing Hub
    block stylesheets
      <!-- Bootstrap Core CSS -->
      link(rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css")

      <!-- Icons -->
      link(href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet")
      link(href="/assets/plugins/themify-icons/css/themify-icons.css" rel="stylesheet")
    
      <!-- Bootsnav -->
      link(href="/assets/plugins/bootstrap/css/bootsnav.css" rel="stylesheet")
      
      <!-- Custom style -->
      link(href="/assets/css/style.css" rel="stylesheet")
      link(href="/assets/css/responsiveness.css" rel="stylesheet")
      link(type="text/css" rel="stylesheet" id="jssDefault" href="/assets/css/colors/main.css")
      script(src="/assets/js/jquery.min.js")

  body.home-2
    .wrapper  

      .clearfix
      block content

  block scripts
    script(src="/assets/plugins/bootstrap/js/bootstrap.min.js")
    script(src="/assets/plugins/bootstrap/js/bootsnav.js")
    //script(src="assets/js/custom.js")