extends layout

block content
  section.title-transparent.page-title(style="background-color : red;")
    .container
      .title-content
  .clearfix

  section.padd-0
    .container
      .add-listing-box.edit-info.translateY-60.mrg-bot-25.padd-bot-30.padd-top-25
        .listing-box-header
          .avater-box
            img.img-responsive.img-circle.edit-avater(src="assets/img/avatar.jpg" alt="")
            span.avater-status.status-pulse.online
          h3 Obielum Godson
          p Account Manager
        .row.mrg-r-10.mrg-l-10.preview-info
          .col-sm-6
            label(for="")
              i.ti-mobile.preview-icon.call.mrg-r-10
              | 09045673849
          .col-sm-6
            label(for="")
              i.ti-email.preview-icon.email.mrg-r-10
              | gaba@gabamail.com
          .col-sm-6
            label(for="")
              i.ti-gift.preview-icon.birth.mrg-r-10
              | 
          .col-sm-6
            label(for="")
              i.ti-mobile.preview-icon.web.mrg-r-10
              | gaba.com
  
  section.padd-top-0
    .container
      .col-md-6.col-sm-12.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .preview-info-header
            h4 Basic Info
          .preview-info-body
            ul.info-list
              li
                label Name:
                span Godson Obielum
      .col-md-6.col-sm-12.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .preview-info-header
            h4 Basic Info
          .preview-info-body
            ul.info-list
              li
                label Phone:
                span 090484274724
              li
                label Email:
                span gab@gabamail.com
              li
                label State:
                span lagos
              li
                label Country:
                span Nigeria
      
      .col-md-6.col-sm-12.mob-padd-0
        .add-listing-box.edit-info.mrg-bot-25.padd-bot-30.padd-top-25
          .preview-info-header
            h4 Social media
          .preview-info-body
            ul.social-info.info-list
              li
                label
                  i.fa.fa-facebook
                span https://facebook.com/devgson
              li
                label
                  i.fa.fa-twitter
                span https://twitter.com/devgson